@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2kn9nb');
  src:  url('fonts/icomoon.eot?2kn9nb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2kn9nb') format('truetype'),
    url('fonts/icomoon.woff?2kn9nb') format('woff'),
    url('fonts/icomoon.svg?2kn9nb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-picture:before {
  content: "\e927";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-html-five2:before {
  content: "\eae5";
}
